<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs")  %>
<body>

    <div class="404">
        <h1>404-Oops</h1>
        <h2>The Page you're looking for does not exist !</h2>
    </div>
    
</body>
</html>