<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs")  %>
<body>
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus dignissimos voluptatibus animi ea alias ipsa cumque excepturi autem explicabo deserunt, recusandae adipisci magnam, distinctio error unde aspernatur! Consequuntur, dicta non.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, qui velit minus iure odit in accusantium placeat saepe perspiciatis aliquid sunt labore animi nisi. Illum adipisci cumque laboriosam dicta suscipit?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error nulla, aliquam assumenda non asperiores cumque soluta ipsam! Ea cumque, voluptatem obcaecati sequi quos incidunt, autem optio, dolores odit recusandae fuga?</p>
        <p>Lorem ipsum dolor sit amet.</p>
    </div>
    
</body>
</html>